.main-section{
    width: 100%;
    height: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 0px;
    .first-sec{
        padding: 18px 25px;
    }
}
